body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f5f5;
}

input {
    padding: 12px 15px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}

button {
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    background-color: #222;
    color: white;
    font-weight: 600;
    transition: 0.2s ease;
    margin-left: 10px;
}

button:hover {
    background-color: #444;
}


h1 {
    margin-bottom: 30px;
    font-family: 'Cinzel Decorative', serif;
    font-size: 40px;
    font-weight: 700;
}


#result {
    margin-top: 20px;
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#result p {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 12px;
    line-height: 1.6;
    text-align: left;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#result p:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

