body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f5f5;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
